@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f8fafc;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-bg {
  background:
    radial-gradient(circle at top left, #1e3a8a, transparent 40%),
    radial-gradient(circle at bottom right, #2563eb, transparent 40%),
    #020617;
}

.glass-card {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255,255,255,0.1);
}


@keyframes slowZoom {
  0% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1.15);
  }
}

.animate-slowZoom {
  animation: slowZoom 15s ease-in-out infinite alternate;
}

/* Premium Scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(22, 101, 52, 0.4);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(22, 101, 52, 0.7);
}

/* Hide Scrollbar */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}